<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PixivWallpaperHelper.Properties.Auth" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
		<PixivWallpaperHelper.Properties.Auth>
            <setting name="KEY_PIXIV_ACCESS_TOKEN" serializeAs="String">
                <value />
            </setting>
            <setting name="KEY_PIXIV_REFRESH_TOKEN" serializeAs="String">
                <value />
            </setting>
            <setting name="KEY_PIXIV_DEVICE_TOKEN" serializeAs="String">
                <value />
            </setting>
            <setting name="KEY_PIXIV_USER_ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KEY_PIXIV_USER_USERNAME" serializeAs="String">
                <value />
            </setting>
            <setting name="KEY_PIXIV_USER_NAME" serializeAs="String">
                <value />
            </setting>
            <setting name="KEY_PIXIV_USER_IMG" serializeAs="String">
                <value />
            </setting>
        </PixivWallpaperHelper.Properties.Auth>
    </userSettings>
</configuration>